@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    font-style: normal;
    font-weight: bold;
}

* { 
    font-family: 'My Lucida', Console;
}

body .container{
    align-items: center;
}

.station{
    float: right;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-gap: 1.5em;
}

body {
    background: linear-gradient(to bottom, #e4e3e3, #e4e3e3) no-repeat;
}

a {
    color: black;
    text-decoration: none;
}

body header{
    margin-bottom: 3em;
    width: 100%;
}

.wrapper {
    padding: 1.25em 0;
    background-color: #ffffff;
}

main header {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 1.5em;
    box-shadow: 0 0.1em 0 rgb(200, 200, 200);
}

header .logo-search form  {
    width: 50%;
}

.pull-left {
    float: left;
    padding-left: 10%;
    margin-left: 30%;
}

.btn-group{
    float: right;
    padding-right: 3.5%;
    margin-right: 17%;
}

header .user a {
    font-size: 0.5em;
    color: #89949b;
    padding-top: 0.25em;
}

main article {
    display: inline-block;
}

body h3 {
    color: #b8c3c9;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

nav ul li a { 
    font-size: 0.8em;
    font-weight: normal;
    color: #828c92;
}

nav ul li a:hover {
    color: #fe7f19;
}

nav ul li {
    list-style: none;
    margin-top: 0.25em;
}

nav ul li:last-child {
    margin-bottom: 1.5em;
}

h1 {
    color: #4b5c66;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0.4em 0;
}

.name p { 
    color: #a0aab1;
    font-size: 0.8em;
}

.name p img { 
    margin-left: 1em;
}


.stats-links {
    color: #4b5c66;
    font-size: 0.75em;
    padding: 1em 0px 1em 0px;
    border-bottom: 0.1em solid #e1e6e9;
    margin-bottom: 1.5em;
}

.stats-links span, .stats-links a {
    margin-right: 1em;
}

.stats-links a:last-child {
    margin-right: 0;
}

.stats-links a {
    font-size: 1em;
    font-weight: normal;
    color: #4b5c66;
}

main h2 {
    margin-top: 0.2em;
    font-size: 1.6em;
    font-weight: normal;
    color: #4b5c66;
}

header form {
    width: 100%;
}

input.search {
    background: url("../img/icon/search.png") #ebeff1 no-repeat 8px;
    box-shadow: none;
    height: 2em;
    width: 40%;
    font-size: 0.9em;
    padding: 0.3em 0.6em 0.3em 2.5em;
    border: 0.1em solid #d0dde9;
    margin: 0 0 0 10%;
    border-radius: 1.5em;
    top: 1.1em;
    box-shadow: inset 0.1em 0.1em 0.5em #d5d5d5;
}

input.submit {
    display: none;
}

.station {
    font-size: 0.75em;
    color: #008fd5;
    border-radius: 0.5em;
    border: 0.1em solid #b8c3c9;
    cursor: pointer;
    padding: 0.5em 1em 0.5em 3em;
    margin-right: -0.75em;
    box-shadow: 0.1em 0.1em #d5d5d5;
    background: url("../img/icon/station.png") no-repeat 8px;
    transition: all 0.4s;
}

.station:hover {
    background-color: #0A90D5;
    color: white;
    background-image: url("../img/icon/station-white.png");
}


#albums article {
    font-size: 0.75em;
    color: #89949b;
    margin: 0.5em 0;
}

#albums article img {
    border: 0.1em solid #cbcbcb;
    transition: all 0.3s;
    width: 100%;
}

#albums article img:hover {
    box-shadow: 0 0 0.4em #848484;
    transform: scale(1.1) rotate(-3deg);
}

#albums article figcaption {
    color: #4b5c66;
    margin-top: 0.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#albums article .artist, #albums article .count {
    margin-top: 0.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#albums .explicit {
    color: #ff5d5d;
    margin-left: 0.25em;
}

nav.browse a, nav.music a {
    background-color: #e4e3e3;
    padding-left: 1.8em;
    padding-top: 0.1em;
}

.user .dropdown-menu a{
    font-size: 0.8em;
}

nav a.heavy { background: url("../img/icon/heavy.png") no-repeat 0px; }
nav a.recent { background: url("../img/icon/recent.png") no-repeat 0px; }
nav a.top { background: url("../img/icon/top.png") no-repeat 0px; }
nav a.new { background: url("../img/icon/new.png") no-repeat 0px; }
nav a.collection { background: url("../img/icon/collection.png") no-repeat 0px; }
nav a.history { background: url("../img/icon/history.png") no-repeat 0px; }


/*Large Phone and less*/
@media screen and (max-width: 429.98px) {
    .name p a {
        display: none;
    }
}

/*Medium Tablet and less*/
@media screen and (max-width: 549.98px) {
    .search{
        display: none;
    }
}


@media screen and (min-width: 320px) {

    .btn-group button{
        font-size: 60%;
    }
    .btn-group .dropdown-menu{
        min-width: 60% !important;
        font-size: 60%;
    }

    .name-photo h1, p{
        font-size: 80%;
        padding-left: 2.5em;
    }

    .stats-links span, a{
        font-size: 80%;
    }

    main h2{
        font-size: 85%;
    }
    main .station{
        font-size: 70%;
    }

    #albums {
        font-size: 70%;
    }
    #albums article figure img {
        width: 70%;
        height: auto;
    }
}

@media screen and (min-width: 450px){

    .btn-group button{
        font-size: 70%;
    }
    .btn-group .dropdown-menu{
        min-width: 70% !important;
        font-size: 70%;
    }

    .name-photo h1, p{
        font-size: 100%;
        padding-left: 2em;
    }

    .stats-links span, a{
        font-size: 100%;
    }

    main h2{
        font-size: 95%;
    }
    main .station{
        font-size: 80%;
    }

    #albums {
        font-size: 80%;
    }
    #albums article figure img {
        width: 80%;
        height: auto;
    }
}


@media screen and (min-width: 600px){

    .btn-group button{
        font-size: 80%;
    }
    .btn-group .dropdown-menu{
        min-width: 80% !important;
        font-size: 80%;
    }

    main h2{
        font-size: 105%;
    }
    main .station{
        font-size: 90%;
    }

    #albums {
        font-size: 90%;
    }
    #albums article figure img {
        width: 90%;
        height: auto;
    }
}

@media screen and (min-width: 768px){
    .img-luke img {
        width: 180%;
        height: auto;
    }
}

@media screen and (min-width: 992px){

    .btn-group button{
        font-size: 90%;
    }
    .btn-group .dropdown-menu{
        min-width: 90% !important;
        font-size: 90%;
    }

    .img-luke img {
        width: 110%;
        height: auto;
    }

    .name-photo h1, p{
        font-size: 110%;
        padding-left: 1.5em;
    }

    main h2{
        font-size: 125%;
    }
    main .station{
        font-size: 95%;
    }

    #albums {
        font-size: 100%;
    }
    #albums article figure img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1400px){

    .btn-group button{
        font-size: 100%;
    }
    .btn-group .dropdown-menu{
        min-width: 90% !important;
        font-size: 90%;
    }

    .name-photo h1, p{
        font-size: 130%;
        padding-left: 1em;
    }

    main h2{
        font-size: 135%;
    }
    main .station{
        font-size: 100%;
    }

    #albums {
        font-size: 110%;
    }
    #albums article figure img {
        width: 100%;
        height: auto;
    }
}